/* @media(max-width: 1130px) */
@media(max-width: 1130px) {
    .header-row {
        gap: 135px !important;
    }

    .header-middle {
        gap: 45px !important;
    }

    .menus li a {
        padding: 0px 12px !important;
    }
}

@media(max-width: 900px) {
    .menus {
        display: none !important;
    }

    .bars a i {
        display: block !important;
        opacity: 1 !important;
    }

    .hero-bg img {
        width: 100%;
    }

    .service-blocks {
        grid-template-columns: repeat(2, 1fr);

        justify-content: center;

    }
}

@media(max-width: 775px) {
    .header-row {
        gap: 65px !important;
    }

    .hero-title h1 {
        max-width: 575px;
        font-size: 40px;
    }
}

@media(max-width: 630px) {
    .header-search a {
        display: none !important;
    }
}

@media(max-width: 550px) {

    .register a,
    .login a {
        display: none !important;
    }

    .service-blocks {
        grid-template-columns: 1fr;

        justify-content: center;

    }
}


@media(max-width: 475px) {
    .header-row {
        gap: 0px !important;
    }

    .header-middle {
        gap: 20px !important;
    }

    .hero-title h1 {
        max-width: 575px;
        font-size: 30px;
    }

    .hero-text p {
        font-size: 16px;
        max-width: 415px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .service-blocks {
        margin-top: 25px;
    }
}