/*? AUTHOR DETAILS
*AUTHOR NAME: ANIK ISLAM
*TEMPLATE" 
*VERSION: 1.0.0
*/


/*! ROOT VARIABLES  */
:root {
    --white-color: #fff;
    --black-color: #000;
    --global-fonts: "Sora", sans-serif;
    --hader-menu-color: #111111;
    --menu-hover-color: #179800;
    --template-bg: #EFEBE3;
    --sb-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --sb-hover-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --ol-left-bg: #115414;
    --ol-left-btn-bg: #63B76D;
    --or-right-bg: #102861;
    --or-right-btn-bg: #2A4D97;
}

/*? ESSENTIAL SET UP  */
body {
    font-family: var(--global-fonts);
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 15px;
}

/*? ESSENTIAL SET UP  */

/* ?SET UP FONTS  */
h1 {
    font-size: 56px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

img {
    /* max-width: 100%; */
    margin: 0;
    padding: 0;
    display: block;
}
.mb{
    margin-bottom: 50px;
}
/* ?SET UP FONTS */


/*HEADER SECTION START  */
.header-section {
    overflow: hidden;

}

.header-row {
    display: flex;
    align-items: center;
    /* gap: 300px; */
    padding: 25px 0;
    justify-content: space-between;
}

.menus {
    display: inline-flex;
}

.menus li a {
    font-size: 20px;
    color: var(--hader-menu-color);
    padding: 0 16px;
    transition: 0.2s;
    font-weight: 600;
}

.menus li a:hover {
    color: var(--menu-hover-color);
}

.header-middle {
    display: flex;
    align-items: center;
    gap: 75px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 24px;
}

.login a,
.register a {
    color: var(--menu-hover-color);
    font-size: 20px;
    border: 1px solid var(--menu-hover-color);
    padding: 10px 30px;
    display: inline-block;
    border-radius: 8px;
    transition: 0.2s;
}

.login a:hover {
    background-color: var(--menu-hover-color);
    color: var(--white-color);
}

.register a:hover {
    background-color: transparent;
    color: var(--menu-hover-color);
}

.register a {
    background-color: var(--menu-hover-color);
    color: var(--white-color);
}

.bars a i {
    background-color: var(--menu-hover-color);
    font-size: 22px;
    color: var(--white-color);
    padding: 15px 18px;
    border-radius: 8px;
    display: none;
    opacity: 0;
}

/*HEADER SECTION EMD */

/*a HERO SECTION START  */
.hero-section {
    background-color: var(--template-bg);
    padding: 90px 0 0 0;
    overflow: hidden;
}

.hero-content {
    text-align: center;
}

.hero-title h1 {
    max-width: 828px;
    margin: 0 auto;
}

.hero-title h1 span {
    color: var(--menu-hover-color);
}

.hero-text p {
    font-size: 20px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 30px;
}

.hero-bg img {
    margin: 0 auto;
}

/*a HERO SECTION EMD */

/*SERVICE SECTION START  */
.service-section {
    padding: 90px 0;
}

.service-title h2 {
    color: var(--menu-hover-color);
    font-weight: 600;
}

.service-blocks {
    margin-top: 50px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;

}

.service1-block1 {
    background-color: var(--template-bg);
    max-width: 425px;
    text-align: center;
    padding: 35px 30px;
    border-radius: 16px;
    box-shadow: var(--sb-shadow);
    transition: 0.2s;
}

.service1-block1:hover {
    box-shadow: var(--sb-hover-shadow);
}

/* .sb-img{
    background-color: var(--white-color);
    width: 150px;
    height: 150px;
    border-radius: 50%;
} */
.sb-img img {
    display: block;
    margin: 0 auto;
}

.sb-title h4 {
    font-weight: 600;
    padding: 25px 0 12px 0;
}

.sb-text p {
    max-width: 360px;
}

/*SERVICE SECTION EMD */

/*PRODUCT SECTION START  */
.product-section {
    padding: 70px 0;
    background-color: var(--template-bg);
}

.product-section .service-top {
    margin-bottom: 65px;
}

.product-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* gap: 50px; */
    column-gap: 32px;
    flex-shrink: 0;
}

.product1 {
    padding: 16px 25px;
    background-color: var(--white-color);
    max-width: 500px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 25px;
    cursor: pointer;
    margin-bottom: 25px;
    flex-shrink: 0;
}

.p-img {
    background-color: var(--template-bg);
    width: 85px;
    height: 85px;
    padding: 8px;
    border-radius: 8px;
}

.p-rating {
    display: flex;
    align-items: center;
    gap: 5px;
}

.p-title h4 {
    padding: 8px 0 5px 0;
    font-weight: 500;
}

.p-price h5 {
    font-weight: 500;
}

/*PRODUCT SECTION EMD */

/*OFFER SECTION START  */
.offer-section {
    padding: 140px 0;
}

.offer-row {
    display: flex;
    gap: 20px;
}
 

.ol-row {
    background-color: var(--ol-left-bg); 
    display: flex;
    border-radius: 16px;
    column-gap: 30px;
    align-items: center;
}

.ol-left { 
    padding:20px 0 42px 40px ;
}

.ol-btn a {
    background-color: var(--ol-left-btn-bg);
    padding: 15px 40px;
    display: inline-block;
    border-radius: 15px;
    color: var(--white-color);
    margin: 30px 0 25px 0;
}
.ol-title h2{
    color: var(--white-color);
    font-weight: 400;
}
.ol-title h2 span{ 
    font-weight: 600;
}
.or-img img{
    padding-top: 33px;
}
.or-right{
    padding: 20px 0 38px 25px;
}
#or-row{
    background-color: var(--or-right-bg);
}
#or-btn a{
    background-color: var(--or-right-btn-bg);
}
/*OFFER SECTION EMD */

/* SECTION START  */
/* SECTION EMD */